#navbar{
    margin:10px;
    background-color:black;
    color:black;
    padding:5px;
}

#navbar a{
    color:white;
    margin : 10px
}

input{
    margin:10px;
}

button{
    margin-top:20px;
    margin-left:10px;
}